<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="je.project.mapper.SntRepetMapper">
   
   <insert id="insert" useGeneratedKeys="true" keyColumn="sr_id" keyProperty="sr_id">
   	insert into snt_repet 
   	(
   		<if test="arg.sr_id != null"> sr_id, </if>
   		<if test="arg.ss_id != null"> ss_id, </if>
   		<if test="arg.appear != null"> appear </if>
   	) values(
   		<if test="arg.sr_id != null"> #{arg.sr_id}, </if>
   		<if test="arg.ss_id != null"> #{arg.ss_id}, </if>
   		<if test="arg.appear != null"> #{arg.appear} </if>
   	)
   </insert>
   
   <update id="update">
   	update snt_repet
	   <set>
	   		<if test="arg.sr_id != null">ss_id = #{arg.sr_id}, </if>
	   		<if test="arg.appear != null">appear = #{arg.appear} </if>
	   </set>
	 where sr_id = #{arg.sr_id}
   </update>
   
   <select id="select" resultType="je.project.pojo.SntRepet">
      select * from snt_repet
      where 1 = 1
   		<if test="arg.sr_id != null"> and sr_id = #{arg.sr_id} </if>
   		<if test="arg.ss_id != null"> and ss_id = #{arg.ss_id} </if>
   		<if test="arg.appear != null"> and appear = #{arg.appear} </if>
   </select>
   
</mapper>