<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="je.project.mapper.StrLinkMapper">
   
   <insert id="insert" useGeneratedKeys="true" keyColumn="slnk_id" keyProperty="slnk_id">
   	insert into str_link 
   	(
   		<if test="arg.slnk_id != null"> slnk_id, </if>
   		<if test="arg.scn_id != null"> scn_id, </if>
   		<if test="arg.item_id != null"> item_id, </if>
   		<if test="arg.next_id != null"> next_id, </if>
   		<if test="arg.prev_id != null"> prev_id, </if>
   		<if test="arg.appear != null"> appear </if>
   	) values(
   		<if test="arg.slnk_id != null"> #{arg.slnk_id}, </if>
   		<if test="arg.scn_id != null"> #{arg.scn_id}, </if>
   		<if test="arg.item_id != null"> #{arg.item_id}, </if>
   		<if test="arg.next_id != null"> #{arg.next_id}, </if>
   		<if test="arg.prev_id != null"> #{arg.prev_id}, </if>
   		<if test="arg.appear != null"> #{arg.appear} </if>
   		<if test="arg.appear == null"> 1 </if>
   	)
   </insert>
   
   <update id="update">
   	update str_link
	   <set>
   		<if test="arg.item_id != null"> item_id = #{arg.item_id}, </if>
   		<if test="arg.scn_id != null"> scn_id = #{arg.scn_id}, </if>
   		<if test="arg.next_id != null"> next_id = #{arg.next_id}, </if>
   		<if test="arg.prev_id != null"> prev_id = #{arg.prev_id}, </if>
   		<if test="arg.appear != null"> appear = #{arg.appear} </if>
	   </set>
	 where slnk_id = #{arg.slnk_id}
   </update>
   
   <select id="select" resultType="je.project.pojo.StrLink">
      select * from str_link
      where 1 = 1
      <if test="arg.slnk_id != null"> and slnk_id = #{arg.slnk_id} </if>
      <if test="arg.scn_id  != null"> and scn_id  = #{arg.scn_id}  </if>
      <if test="arg.item_id != null"> and item_id = #{arg.item_id} </if>
      <if test="arg.next_id != null"> and next_id = #{arg.next_id} </if>
      <if test="arg.prev_id != null"> and prev_id = #{arg.prev_id} </if>
      <if test="arg.appear  != null"> and appear  = #{arg.appear}  </if>
      
      <if test="arg.slnk_id == 'isnull'"> and slnk_id is null </if>
      <if test="arg.scn_id  == 'isnull'"> and scn_id  is null </if>
      <if test="arg.item_id == 'isnull'"> and item_id is null </if>
      <if test="arg.next_id == 'isnull'"> and next_id is null </if>
      <if test="arg.prev_id == 'isnull'"> and prev_id is null </if>
      <if test="arg.appear  == 'isnull'"> and appear  is null </if>
      
      <if test="arg.slnk_id == 'isnotnull'"> and slnk_id is not null </if>
      <if test="arg.scn_id  == 'isnotnull'"> and scn_id  is not null </if>
      <if test="arg.item_id == 'isnotnull'"> and item_id is not null </if>
      <if test="arg.next_id == 'isnotnull'"> and next_id is not null </if>
      <if test="arg.prev_id == 'isnotnull'"> and prev_id is not null </if>
      <if test="arg.appear  == 'isnotnull'"> and appear  is not null </if>
      
   </select>
   
</mapper>