<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="je.project.mapper.StrSceneMapper">
   
   <insert id="insert" useGeneratedKeys="true" keyColumn="ss_id" keyProperty="ss_id">
   	insert into str_scene 
   	(
   		<if test="arg.ss_id != null"> ss_id, </if>
   		<if test="arg.sl_id != null"> sl_id, </if>
   		<if test="arg.scn_id != null"> scn_id, </if>
   		<if test="arg.appear != null"> appear </if>
   	) values(
   		<if test="arg.ss_id != null"> #{arg.ss_id}, </if>
   		<if test="arg.sl_id != null"> #{arg.sl_id}, </if>
   		<if test="arg.scn_id != null"> #{arg.scn_id}, </if>
   		<if test="arg.appear != null"> #{arg.appear} </if>
   		<if test="arg.appear == null"> 1 </if>
   	)
   </insert>
   
   <update id="update">
   	update str_scene
	   <set>
	   		<if test="arg.sl_id != null"> sl_id = #{arg.sl_id}, </if>
	   		<if test="arg.scn_id != null"> scn_id = #{arg.scn_id}, </if>
	   		<if test="arg.appear != null"> appear = #{arg.appear} </if>
	   </set>
	 where ss_id = #{arg.ss_id}
   </update>
   
   <select id="select" resultType="je.project.pojo.StrScene">
      select * from str_scene
      where 1 = 1
   		<if test="arg.ss_id != null"> and ss_id = #{arg.ss_id} </if>
   		<if test="arg.sl_id != null"> and sl_id = #{arg.sl_id} </if>
   		<if test="arg.scn_id != null"> and scn_id = #{arg.scn_id} </if>
   		<if test="arg.appear != null"> and appear = #{arg.appear} </if>
   </select>
   
   <select id="selectAlibrary" resultType="je.project.pojo.StrScene">
      select ss.ss_id,ss.sl_id,ss.scn_id,ss.appear from str_scene ss, str_library sl
      where ss.sl_id = sl.sl_id and sl.str = #{arg}
   </select>
   
</mapper>